@use 'styles/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.5;
  min-height: 100vh;
}

@media (min-width: $breakpoint-tablet) {
  body {
    font-size: $font-size-base;
  }
}

@media (min-width: $breakpoint-desktop) {
  body {
    max-width: $breakpoint-wide;
    margin-left: auto;
    margin-right: auto;
  }
}
